.video__item {
  margin: 0 20px 20px 0; /* также задал горизонтальный отступ для будущих видео */
  width: 515px;
  height: 316px;
}

.video__item:nth-child(even) {
  margin-right: 0;
}

/* Правила ниже нужны для того чтобы не было лишнего отступа у контейнера содержащего видео, при добавлении в него новых, в независимости от количества */

.video__item:nth-child(odd) {
  margin-bottom: 0;
}

.video__item:last-of-type {
  margin-bottom: 0;
}
